@media screen and (min-width: 0px) {
  /* /// Spinner */
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .landing {
    margin-top: 75px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--PrimaryColour);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  main {
    display: flex;
    flex-direction: column;
  }
  main section {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
  }
  nav {
    background-color: white;
    top: 0;
    position: fixed;
    height: 75px;
    width: 100%;
    padding-right: 4rem;
    z-index: 500;
    box-shadow: -1px 4px 6px -1px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -1px 4px 6px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 4px 6px -1px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    display: flex;
    text-align: left;
    margin-bottom: 0;
    align-items: center;
  }

  li {
    margin-left: 2rem;
    list-style: none;
  }
  li a {
    text-decoration: none;
    color: black;
    font-size: calc(var(--PSize) * 1.5);
  }

  .articlePreview {
    display: grid;
    grid-template-columns: 1rem 40vw 30vw calc(30vw - 1rem);
    margin-bottom: 1rem;
  }
  .articlePreview .image {
    grid-column: 2;
    grid-row: 1 / span 4;
    justify-self: center;
  }
  .articlePreview .previewText {
    grid-column: 3 / span 3;
    grid-row: 3;
    font-size: 1rem;
    margin-left: 1rem;
  }
  .articlePreview .previewTitle {
    grid-column: 3 / span 4;
    grid-row: 1;
    justify-self: start;
    margin-left: 1rem;
  }
  .articlePreview .tagGroup {
    grid-column: 3 / span 4;
    grid-row: 2;
    display: flex;
    justify-self: start;
    margin-left: 1rem;
  }
  .articlePreview figcaption {
    grid-column: 2 / span 3;
    grid-row: 4;
  }

  .trending article:not(article:first-of-type) {
    background-color: white;
    padding: 1rem;
    margin: 0 0rem 1rem 0rem;
    display: grid;
    grid-template-columns: auto 1fr;
    border-radius: 5px;
    border: solid 2px lightgray;
  }

  main .article {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
  }
  main .article .aside {
    grid-column: 2;
    grid-row: 8;
  }
  main .commentSection {
    grid-column: 2;
    grid-row: 7;
  }
  main .article * {
    grid-column: 2;
  }
  main .article img {
    width: 100%;
    height: auto;
  }
  .soMeBox {
    width: 100%;
    height: 5rem;
    background-color: black;
    margin-top: 1rem;
    color: white;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr;
    align-items: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }
  .soMeBox i {
    grid-column: 1;
    grid-row: 1;
    font-size: 3rem;
    width: 5rem;
    height: 100%;
    align-items: center;
    border-right: solid 2px white;
    text-align: center;
    justify-self: center;
  }
  .soMeBox p {
    text-align: center;
  }
  .soMeBox > p {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    text-align: center;
    justify-self: center;
  }
  .soMeBox .action {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    border-left: solid 2px white;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  aside .soMeBox:nth-of-type(2):hover {
    color: #4267b2;
    background-color: #4267b250;
  }

  aside .soMeBox:nth-of-type(3):hover {
    color: #2867b2;
    background-color: #2867b250;
  }
  aside .soMeBox:nth-of-type(4):hover {
    color: #000000;
    background-color: #00000050;
  }
  aside .soMeBox:nth-of-type(5):hover {
    color: var(--CATColour);
    background-color: var(--PrimaryColour);
    color: #cd486b;
    background-color: #cd486b50;
  }
  .form-subscribe {
    width: 100%;
    grid-row: 2;
    grid-column: 4;
    padding-left: 2rem;
  }
  .form-subscribe .form-group {
    width: 100%;
  }

  main > .articlePreviewSection > .articlePreview > .image {
    width: 100%;
    height: 16vw;
    background-color: lightgray;
    background-image: url("../photos/coding-vs-programming-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .advert .image {
    height: 30vh;
    width: 100%;
    background-image: url("../photos/manscaped.jpg");
    margin-top: 1rem;
    position: relative;
  }
  main > .articlePreviewSection > .articlePreview > .image {
    width: 40vw;
    height: 40vw;
    background-color: lightgray;
    background-image: url("../photos/coding-vs-programming-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .trending article:first-of-type .image {
    background-image: url("../photos/1sttrending.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 35vw;
    background-color: black;
    opacity: 0.9;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }
  .trending article:first-of-type .carousel-inner .carousel-item:nth-of-type(1) .image {
    background-image: url("../photos/coding-vs-programming-2.jpg");
  }
  .trending article:first-of-type .carousel-inner .carousel-item:nth-of-type(2) .image {
    background-image: url("../photos/1sttrending.jpg");
  }
  .trending article:first-of-type .carousel-inner .carousel-item:nth-of-type(3) .image {
    background-image: url("../photos/macwinlinux2.png");
  }
  .trending article:first-of-type {
    margin-bottom: 1rem;
  }

  .trending article:first-of-type *:not(.image, span, .categoryTag) {
    z-index: 0;
    color: white;
    text-align: left;
    margin-left: 2rem;
  }

  .categoryTag {
    background-color: black;
    width: fit-content;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: small;
    color: white;
    margin-right: 1rem;
  }
  .trending article:first-of-type *:not(.image, span, .categoryTag) {
    margin-left: 0;
  }
  .carousel-inner {
    height: calc(100% - 1rem);
  }
  .carousel-inner img {
    height: 100%;
  }
  .carousel-item {
    width: 100%;
    height: 100%;
  }
  .trending article:first-of-type .carousel-item {
    height: 100%;
    background-color: black;
    opacity: 0.9;
  }
  #carouselExampleCaptions {
    width: 95%;
  }
  #carouselExampleCaptions .categoryTag {
    color: black;
    background-color: var(--white);
  }

  #carouselExampleCaptions .tagGroup,
  #carouselExampleCaptions figcaption,
  #carouselExampleCaptions h2 {
    margin-left: 3rem;
  }

  #carouselExampleCaptions figcaption {
    margin-bottom: 3rem;
  }
  .carousel-indicators {
    z-index: 5000 !important;
  }
  .carousel-indicators {
    margin-right: 0;
  }
  .h-Top {
    grid-column: 3;
    grid-row: 1;
  }
  pre {
    background-color: #f5f5f5;
  }
  pre {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
      Courier New, monospace, serif;
    margin-bottom: 10px;
    overflow: auto;
    width: auto;
    padding: 5px;
    background-color: #f5f5f5;
    width: 100%;
    padding-bottom: 20px;
  }
  .header .line {
    height: 5px;
    width: 100%;
    background-color: black;
    margin-bottom: 1rem;
  }
  figcaption {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  figcaption > span:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  figcaption > span:first-of-type::before {
    content: "";
    height: 50px;
    width: 50px;
    display: inline-block;
    background-image: url("../photos/author.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 1rem;
  }

  .comment * {
    font-size: calc(var(--PSize) / 1.2);
  }
  .comment {
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--CATColour);
    border-radius: 2px;
    background-color: var(--PrimaryColour);
  }
}
