@media screen and (min-width: 1800px) {
  .trending {
    grid-template-columns: 0vw calc(40vw - 1rem) calc(40vw - 2rem) 0vw;
  }
  main > .articlePreviewSection {
    grid-template-columns: 0vw 30vw 30vw 20vw 0vw;
  }
  .Nav_header {
    width: 80vw;
  }
}
