@media screen and (min-width: 1800px) {
  .trending {
    grid-template-columns: 0vw calc(40vw - 1rem) calc(40vw - 2rem) 0vw;
  }
  main > .articlePreviewSection {
    display: grid;
    grid-template-columns: 0vw 20vw 20vw 20vw 20vw 0vw;
  }
  main > .articlePreviewSection > article {
    grid-template-columns: unset;
    width: 100%;
    padding: 2rem 2rem 0rem 2rem;
  }
  .previewText {
    font-size: var(--PSize);
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 1rem !important;
  }
  .previewTitle {
    font-size: 2rem;
    padding: 0 !important;
    margin: 0 !important;
  }
  .articlePreview figcaption {
    margin-top: 1rem;
  }
  .articlePreviewSection .header:not(.h-small) {
    grid-column: 2 / span 3;
    grid-row: 1;
    height: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  main > .articlePreviewSection article:nth-child(3) {
    grid-column: 2;
    grid-row: 3;
  }
  main > .articlePreviewSection article:nth-child(4) {
    grid-column: 3;
    grid-row: 3;
  }
  main > .articlePreviewSection article:nth-child(5) {
    grid-column: 4;
    grid-row: 3;
  }
  main > .articlePreviewSection article:nth-child(6) {
    grid-column: 2;
    grid-row: 4;
  }
  main > .articlePreviewSection article:nth-child(7) {
    grid-column: 3;
    grid-row: 4;
  }
  main > .articlePreviewSection article:nth-child(8) {
    grid-column: 4;
    grid-row: 4;
  }
  main > .articlePreviewSection article:nth-child(9) {
    grid-column: 2;
    grid-row: 5;
  }
  main > .articlePreviewSection article:nth-child(10) {
    grid-column: 3;
    grid-row: 5;
  }
  main > .articlePreviewSection article:nth-child(11) {
    grid-column: 4;
    grid-row: 5;
  }
  .aside {
    grid-column: 5;
    grid-row: 1 / span 6;
    padding-right: 2rem;
  }
  .articlePreviewSection .filtering {
    grid-row: 2;
    grid-column: 1 / span 4;
  }
  .Nav_header {
    width: 80vw;
  }
}
